body * {
    margin: 0;
    padding: 0;
}
.App {
    width: 100%;
}

.header {
    height: 100px;
    background-color: rgba(46, 139, 87, 0.9);
    margin-bottom: 110px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    height: 80px;
    background-color: rgba(200, 213, 185, 0.16);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 50px;
}

.copyright{
    width: 100%;
}
.about-us{
    width: auto;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}
.about-us:hover{
    color: #127A40;
    text-decoration: underline;
}

@media (max-width: 767px){
    .header {
        justify-content: center;
    }
}